extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend sed tortor vel interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed in dui vel mauris pellentesque porttitor eu id mauris. Vestibulum volutpat pulvinar suscipit.

                p Donec eu lectus ut augue fringilla finibus id vitae arcu. Aenean nibh massa, rhoncus ac lacinia ac, ornare cursus elit. Curabitur vel felis ut eros faucibus semper. Pellentesque vel dictum velit. Integer et orci vitae ex vestibulum semper. Nullam odio leo, viverra quis tellus et, ullamcorper condimentum diam.

                p Sed quis dapibus dolor, vel eleifend elit. Nunc lacus justo, imperdiet sit amet ultricies vel, euismod eget augue. Vestibulum suscipit, lectus in gravida rutrum, nunc dolor iaculis nunc, quis tristique leo mi eu urna. Quisque et neque pretium, egestas lorem maximus, tempor lorem. Vestibulum luctus, ligula id laoreet.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Quisque et neque pretium, egestas lorem maximus, tempor lorem. Vestibulum luctus, ligula id laoreet.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Quisque et neque pretium, egestas lorem maximus, tempor lorem. Vestibulum luctus, ligula id laoreet.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Quisque et neque pretium, egestas lorem maximus, tempor lorem. Vestibulum luctus, ligula id laoreet.